.Record {
    font-family: sans-serif;
    text-align: center;
}

.VideoMirror {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 674px;
    height: 380px;
    margin-top: 70px;
}